
# Database
PG_USER=postgres
PG_PASS=123123
PG_HOST=localhost
PG_PORT=5432
PG_DB=Stocksdata

# Security
SECRET_KEY=your_super_secret_key_here
ACCESS_TOKEN_EXPIRE_MINUTES=30

# Social Auth
GOOGLE_CLIENT_ID=your_google_client_id_here
TELEGRAM_BOT_TOKEN=your_telegram_bot_token_here

# Email (Resend)
RESEND_API_KEY=your_resend_api_key_here
FROM_EMAIL=onboarding@resend.dev
