fastapi
uvicorn
sqlalchemy
psycopg2-binary
pydantic[email]
pydantic-settings
passlib[bcrypt]
python-jose[cryptography]
python-multipart
google-auth
requests
python-dotenv
python-jwt
bcrypt
pandas
numpy
yfinance
email-validator
httpx
Pillow>=10.0
